.rc-events-manager .rc-row {
  display: flex;
  gap: 20px;
}
.rc-events-manager .rc-row .rc-col {
  flex: 1;
}
.rc-events-manager .rc-row .rc-col .rc-form-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.rc-events-manager .rc-row .rc-col .rc-form-field .institution_logo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.rc-events-manager.rc-meta-boxes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .rc-events-manager .rc-row {
    flex-direction: column;
  }
  .rc-events-manager .rc-row .rc-col {
    flex: 1;
  }
}